.navbar-toggle.pull-left {
    margin-left: 15px;
}
@media (min-width: 768px) {
    .pull-sm-left {
        float: left !important;
    }
}

/*table*/
table{
    width:100%;
/*    margin-bottom: .5rem;*/
    margin-top: 50px;
}
#example_filter{
    float:right;
}
#example_paginate{
    float:right;
}
label {
    display: inline-flex;
    margin-bottom: .5rem;
    margin-top: .5rem;
   
}
