<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/login.css">
  <script type="text/javascript" src="js/login.js"></script>
  <title>Login</title>
</head>
<body>
<div class="page">
  <div class="container">
    <div class="left">
      <div class="login">
        <img src="images/divulgo.png">
       <div class="slogan">Awareness, Action, Satisfaction</div>
      </div>
    </div>
    <div class="right">
      <div class="form">
        <form method = "POST" action = "/login">
        <label for="email">Username</label>
        <input type="text" id="email" name="username">
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <input type="submit" id="submit" value="Submit" >
        </form>
      </div>
    </div>
  </div>
</div>

</body>
</html>



