<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Divulgo: Send Complaints</title>
    <style>
        .thumbnail{
            position: relative;
            z-index: 0;
        }
        .thumbnail:hover{
            background-color: transparent;
            z-index: 50;
        }
        .thumbnail span{ /*CSS for enlarged image*/
            position: absolute;
            background-color: lightyellow;
            padding: 5px;
            left: -1000px;
            border: 1px dashed gray;
            visibility: hidden;
            color: black;
            text-decoration: none;
        }
        .thumbnail span img{ /*CSS for enlarged image*/
            border-width: 0;
            padding: 2px;
            /*width: 250px;*/
            /*height: 250px;*/
        }
        .thumbnail:hover span{ /*CSS for enlarged image on hover*/
            visibility: visible;
            top: 0;
            left: 60px; /*position where enlarged image should offset horizontally */
        }
    </style>
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" type="text/css" href="css/homepage.css">
    <script type="text/javascript" src="js/homepage.js"></script>
    <!--   boostrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#collapseLeft" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapseRight" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Divulgo</a>
            </div>

            <div class="collapse navbar-collapse pull-sm-left" id="collapseLeft">
                <ul class="nav navbar-nav">
                    <li class="active"><a th:href="@{/homepage}">Complaints<span class="sr-only">(current)</span></a></li>
                    <li><a th:href="@{/complaint}">Sent</a></li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="collapseRight">
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/logout}" type="hidden">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</head>
<body>
<!--<h1 th:text="${img}">-->
<img th:src="${img}" style="width:100px;height:100px;" class="center"/>
<div class="container">
    <div class="row">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>Complaint Id</th>
                <th>Date</th>
                <th>Time</th>
                <th>Complaint</th>
                <th>View Image</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>Agency</th>
                <th>Reply</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="complaints : ${complaint}">
                <td th:text="${complaints.complaint_id}"></td>
                <td th:text="${complaints.date}"></td>
                <td th:text="${complaints.time}"></td>
                <td th:text="${complaints.user_complaint}"></td>
                <div class="instructions"></div>
                <td>
                    <a class="thumbnail" href="#thumb"><img th:src="${complaints.file_path}" width="80px" height="45px" border="0" /><span><img th:src="${complaints.file_path}"  width="250px" height="400px"  /><br />Image Preview</span></a>
                </td>
                <td th:text="${complaints.user_lat}"></td>
                <td th:text="${complaints.user_long}"></td>
                <!--<form method = "POST" action = "/incorrect">-->
                    <!--<input type="hidden" th:value="${complaints.user_complaint}" name="complaint">-->
                    <!--<input type="hidden" th:value="${complaints.agency}" name="complaintagency">-->
                    <!--<input type="hidden" th:value="${userid}" name="complaintagency">-->
                <form method = "POST" action = "/correction">
                    <input type="hidden" th:value="${complaints.user_complaint}" name="complaint">
                    <td>
                        <div id="container1">
                            <div class="buttonInside">

                                <!--<input type="hidden" th:value="${complaints.agency}" name="complaintagency">-->
                                <!--<input type="hidden" th:value="${userid}" name="complaintagency">-->
                                <!--<input placeholder="Enter Reply"  name="replyy" >-->
                                <select  name="agency">
                                    <option value="LTO">LTO</option>
                                    <option value="LRA">LRA</option>
                                    <option value="PAG-IBIG">PAG-IBIG</option>
                                    <option value="SSS">SSS</option>
                                </select>

                                <button type="submit" id="erase1">&#9993;</button>
                            </div>
                        </div>
                    </td>
                    </form>

                <!--</form>-->
                <form method = "POST" action = "/reply">
                    <input type="hidden" th:value="${complaints.complaint_id}" name="complaintid">
                    <input type="hidden" th:value="${complaints.agency}" name="complaintagency">
                    <!--<input type="hidden" th:value="${userid}" name="complaintagency">-->
                    <td>
                        <div id="container">
                            <div class="buttonInside">
                                <input placeholder="Enter Reply" id="submit" name="replyy" >
                                <button type="submit" id="erase">&#9993;</button>
                            </div>
                        </div>
                    </td>

                </form>

            </tr>
            </tbody>


        </table>
    </div>
</div>
</body>
</html>